.box
{
    color: blanchedalmond;
    background-image: linear-gradient( #662d91, #800080);
    padding: 2vh 12vw 5vh 12vw;
    border-radius: 3vh;
    box-shadow: 10px 10px 8px 10px #888888;

}

form
{
    text-align: left;
}

body
{
    background-color: #DFDCE3;
}




@media screen and (max-device-width: 900px), (max-width: 900px) {

    body
    {
        background-image: linear-gradient( #662d91, #800080);
    }

    .box
    {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 0  #888888;
        width: 90vw;
    }
    /*override bootstrap in main */
    #main
    {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        max-width: 100vw;
        text-align: center;
    }
}